matplotlib==3.8.3
numpy==1.26.4
pandas==2.2.2
plotly==5.20.0
psx_data_reader==0.0.6
Requests==2.32.2
scikit_learn==1.4.1.post1
st_pages==0.4.5
streamlit
streamlit_option_menu==0.3.12
tensorflow==2.16.1
lxml
